<%= render 'home/nav'%>

<p style="color: green"><%= notice %></p>
<div class="group-number mb- d-flex px-3 bg-white justify-content-between">
  <p>Number of payments</p>
  <p><%= @groups.count %></p>
</div>

<div class="bg-light">
<h1 class="mt-5 pt-3 ps-3">Groups</h1>

<div id="groups">
<div class="">
  <% @groups.each do |group| %>
   <div class="card mb-3">
  
      <div class="card-body  row align-items-center">
        <div class="d-flex col-9 ">
          <img src="https://via.placeholder.com/100" alt="icon" class="border border-1 item-icon "> 
          <p class="px-3 p-md-3 align-self-center">
        
         <div class="d-flex flex-column">
           <p><%= group.name %></p>
           <p class="d-block"><%= group.created_at.strftime("%d %b %Y") %> </p>
           </p>
          </div>
        </div>

        <div class="col-3 text-end">
          <p>
      <%= button_to "Destroy this group", @group, method: :delete %>
    </p>
        </div>
      </div>
    </div>

  <% end %>
</div>
</div>

<%= link_to "New group", new_group_path, class:"btn fixed-bottom mx-3 mt-2 m-1 m-md-5 px-5 text-center green text-white"%>
</div>
