<%= render 'home/nav'%>
<div class="pt-5 mt-5 ps-3">
<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete, class: "bg-primary border-0 text-white p-2 rounded" %>
</div>
</div>