<div class="m-1 m-md-5 px-5">
<h2 class= "mt-4 fw-bold">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-3 form-group">
    <%f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email" %>
  </div>

  <div class="field mb-3 form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-3 form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me%>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-danger" %>
  </div>

  <div>
  <p>Don't have an account? <%= link_to "Create account", new_user_registration_path, class: "text-dark"%></p>
  </div>
<% end %>
</div>
